.col {
  columns: 2;
  margin-top: 2rem;
}

.col-1-a {
  margin: 0 1rem 1.5rem 2rem;
  padding: 2rem 1rem;
  border-radius: 25px;
  background: rgb(23, 25, 32);
  border: 1px solid rgb(48, 48, 48);
}

.col-1-b {
  margin: 0 1rem 0 2rem;
  padding: 1rem 1rem 1rem 2.5rem;
  border-radius: 25px;
  background: rgb(23, 25, 32);
  font-size: 0.9rem;
  line-height: 0.5;
  width: 32%;
  border: 1px solid rgb(48, 48, 48);
}

.col-2 {
  border-radius: 25px;
  background: rgb(23, 25, 32);
  border: 1px solid rgb(48, 48, 48);
}

h2 {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: 'Montserrat', sans-serif;
  color: #f2e5d7;
}

.key-section {
  text-decoration: underline;
  font-weight: 600;
}

.green {
  color: rgb(218, 255, 125);
}

.pink {
  color: rgb(252, 181, 220);
}

.namespace-list,
.podName-list {
  margin: 0 0 0 1.5rem;
}

/* DROPDOWN LIST */
.namespace-dropdown {
  border: 2px solid white;
  border-radius: 25px;
  background: rgba(252, 181, 220, 0.8);
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.4rem 0;
  color: white;
  text-align: center;
}

.podName-dropdown {
  border: 2px solid white;
  border-radius: 25px;
  background: rgba(145, 255, 145, 0.6);
  color: white;
  text-align: center;
  margin: 0.5rem 0 0 1.4rem;
  padding: 0.4rem 0;
}

.namespace-dropdown:hover,
.podName-dropdown:hover {
  background-color: rgba(83, 179, 203, 1);
  box-shadow: 0px 15px 20px rgba(0, 208, 255, 0.3);
  color: white;
  transform: translateY(-3px);
}

h6 {
  margin: 0 2rem;
  font-size: 1rem;
  font-weight: 400;
}

.span-inline span {
  display: inline-block;
}

.capacity-section,
.podCount-section,
.terminatedPods-section {
  text-align: center;
  margin: 1rem 2rem 2rem 3rem;
}

.pod-capacity-span {
  color: rgb(183, 183, 183);
}

.pod-count-span {
  color: rgb(145, 255, 145);
}

.terminated-pods-span {
  color: rgb(255, 81, 81);
}
