.prom-custom {
  border: none;
  margin: -1rem 0 0 2rem;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#customs iframe {
  clip-path: polygon(0 5%, 100% 5%, 100% 100%, 0% 100%);
}
