/* NAV DASHBOARD */
.dashboard {
  background: rgb(23, 25, 32);
}

.title,
.goback-btn {
  display: inline-block;
}

.title {
  margin: 2rem 0 2rem -3.5rem;
  letter-spacing: 5px;
}

/* gears */
.gears {
  display: inline-block;
  margin-left: 3.5rem;
}

.gears-container {
  width: 150px;
  position: relative;
}

.gear-rotate {
  width: 2em;
  height: 2em;
  left: 35%;
  margin-top: -1em;
  margin-left: -1em;
  background: #daff7d;
  position: absolute;
  border-radius: 1em;
  -webkit-animation: 1s gear-rotate linear infinite;
  -moz-animation: 1s gear-rotate linear infinite;
  animation: 1s gear-rotate linear infinite;
}
.gear-rotate-left {
  margin-top: -2.2em;
  top: 50%;
  width: 2em;
  height: 2em;
  background: #daff7d;
  position: absolute;
  -webkit-animation: 1s gear-rotate-left linear infinite;
  -moz-animation: 1s gear-rotate-left linear infinite;
  animation: 1s gear-rotate-left linear infinite;
}

.gear-rotate::before,
.gear-rotate-left::before {
  width: 2.8em;
  height: 2.8em;
  background: -webkit-linear-gradient(
      0deg,
      transparent 39%,
      #daff7d 39%,
      #daff7d 61%,
      transparent 61%
    ),
    -webkit-linear-gradient(60deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%),
    -webkit-linear-gradient(120deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%);
  background: -moz-linear-gradient(
      0deg,
      transparent 39%,
      #daff7d 39%,
      #47ec19 61%,
      transparent 61%
    ),
    -moz-linear-gradient(60deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%),
    -moz-linear-gradient(120deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%);
  background: -o-linear-gradient(
      0deg,
      transparent 39%,
      #daff7d 39%,
      #daff7d 61%,
      transparent 61%
    ),
    -o-linear-gradient(60deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%),
    -o-linear-gradient(120deg, transparent 42%, #47ec19 42%, #daff7d 58%, transparent
          58%);
  background: -ms-linear-gradient(
      0deg,
      transparent 39%,
      #daff7d 39%,
      #daff7d 61%,
      transparent 61%
    ),
    -ms-linear-gradient(60deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%),
    -ms-linear-gradient(120deg, transparent 42%, #daff7d 42%, #daff7d 58%, transparent
          58%);
  background: linear-gradient(
      0deg,
      transparent 39%,
      #daff7d 39%,
      #daff7d 61%,
      transparent 61%
    ),
    linear-gradient(
      60deg,
      transparent 42%,
      #daff7d 42%,
      #daff7d 58%,
      transparent 58%
    ),
    linear-gradient(
      120deg,
      transparent 42%,
      #daff7d 42%,
      #daff7d 58%,
      transparent 58%
    );
  position: absolute;
  content: '';
  top: -0.4em;
  left: -0.4em;
  border-radius: 1.4em;
}
.gear-rotate::after,
.gear-rotate-left::after {
  width: 1em;
  height: 1em;
  background: #2b2b2b;
  position: absolute;
  content: '';
  top: 0.5em;
  left: 0.5em;
  border-radius: 0.5em;
}

@-webkit-keyframes gear-rotate {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-180deg);
  }
}

@-moz-keyframes gear-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@keyframes gear-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-180deg);
  }
}

@-webkit-keyframes gear-rotate-left {
  0% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
  }
}

@-moz-keyframes gear-rotate-left {
  0% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
  }
}

@keyframes gear-rotate-left {
  0% {
    -webkit-transform: rotate(30deg);
  }
  100% {
    -webkit-transform: rotate(210deg);
  }
}

/* Home button */
.goback-btn {
  float: right;
  width: 100px;
  font-size: 10px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin: 2rem;
}

.goback-btn:hover {
  background-color: rgba(252, 188, 181, 1);
  box-shadow: 0px 7px 15px rgba(224, 26, 79, 0.4);
  color: rgb(224, 26, 79);
  transform: translateY(-7px);
}

.nav-dashboard {
  border-top: 3px solid rgb(17, 18, 23);
  width: 100%;
  height: 100%;
}

.nav-bar a {
  text-decoration: none;
  color: white;
}

.nav-bar a:hover {
  color: rgb(224, 26, 79);
}

.nav-bar ul li {
  margin: 4rem 2rem;
  text-align: center;
}

.nav-bar ul {
  width: 170px;
  height: 785px;
  list-style: none;
  margin: 0;
  padding: 3rem 0 0 0;
  letter-spacing: 3px;
  display: inline;
}

.pages {
  border: 1px solid black;
}

/* METRICS NAVBAR */

.column1 {
  float: left;
  /* need to figure out how to get the 1st column size to match the 2nd column */
  height: 450vh;
  background: rgb(23, 25, 32);
}

.column2 {
  float: left;
  background: rgb(17, 18, 23);
  width: 88%;
}

.column2 ul li {
  list-style: none;
  display: inline-block;
  margin: 2rem 3em 0 0;
}

.column2 a {
  text-decoration: none;
  color: white;
}

.column2 h1 {
  margin: 2rem 0 1rem 2rem;
  letter-spacing: 3px;
  color: rgba(252, 188, 181, 0.8);
}

.metric-data {
  border: none;
  margin-left: -2rem;
}

.frame-cut {
  margin-top: 2rem;
  overflow: hidden;
}

.frame-cut iframe {
  clip-path: polygon(6% 0%, 100% 0%, 100% 100%, 5% 100%);
  background-color: #000000;
}
/* METRICS NAVBAR BUTTONS */
.metrics-global,
.metrics-apiserver,
.metrics-keda,
.metrics-namespaces,
.metrics-nodes,
.metrics-pods,
.metrics-coredns,
.metrics-global:after,
.metrics-apiserver:after,
.metrics-keda:after,
.metrics-namespaces:after,
.metrics-nodes:after,
.metrics-pods:after,
.metrics-coredns:after {
  padding: 10px 20px;
  font-size: 15px;
  background: linear-gradient(45deg, transparent 5%, rgb(252, 188, 181) 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3.5px;
  box-shadow: 6px 0px 0px rgb(83, 179, 203);
  outline: transparent;
  position: relative;
}

.metrics-global:after,
.metrics-apiserver:after,
.metrics-coredns:after,
.metrics-namespaces:after,
.metrics-nodes:after,
.metrics-pods:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: 'HOVER ME';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    rgb(83, 179, 203) 3%,
    rgb(83, 179, 203) 5%,
    rgb(252, 188, 181) 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px rgb(83, 179, 203);
  clip-path: var(--slice-0);
}
.metrics-global:hover::after,
.metrics-apiserver:hover::after,
.metrics-coredns:hover::after,
.metrics-namespaces:hover::after,
.metrics-nodes:hover::after,
.metrics-pods:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }

  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }

  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }

  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }

  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }

  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }

  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }

  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }

  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }

  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }

  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
